
button {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.imgDatePicker {
    width: 10px;
    height: 14px;
}

.chevronButtons {
    width: 20px;
    height: 20px;
}


.alignMonth{
    padding-left: 10px;
}


.simpleBorder {
    border: 1px solid black;
    border-collapse: collapse;
}

.trBorder {
    outline: thin solid;
}

.alignDatePicker {
    padding-left: 56px;
    padding-right: 58px;
    border: 1px solid black;
}

.greyedOut {

    background-color: lightgrey;
}
